

body 
{
  background-image:url("../poze/carte4k.png");
  background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
margin: 0px;
-moz-background-size:cover;
-webkit-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

  header {
    color: white;
  text-shadow: 2px 2px 4px #000000;
  top:0;
  width: 100%;
  background-color: #458;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: bold black;
}

ul {
  text-align: right;
  list-style-type: none;
  margin-left: : auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  list-style-type: none;
  display: inline-block;
  color: white;
  padding: 5px;
  text-decoration: none;
  background-color: #333;
  }

li a {
 list-style-type: none;
  display: inline-block;
  color: magenta;
  padding: 5px;
  text-decoration: none;
  background-color: #333;
  float: left;

}

li a:hover {
  background-color: #152;
}

.thumbnail:hover {
    position: absolute;
    top:-25px;
    left:-35px;
    width:600px;
    height:auto;
    display:block;
    z-index:999;
}

footer {
  position:fixed;
  bottom:0;
  width: 100%;
  background-color: #458;
  text-align: center;
  font-size: 5px;
  color: black;
}
